RewriteEngine On
RewriteBase /fintech_NoCountry/

#todas las solicitudes a index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([^/]+)/?$ index.php/$1 [QSA,L]
#Rewriterule techfint_nocountry/transferencias$techfint_nocountry/index.php?tabla=transferencias[QSA,L]
